 <div class="contents">
  <% @meats.each do |meat| %>
  <div class= meat_content>
      <span class="name">
        <%= meat.meat_brand %>
         <%= meat.prefecture_id %>   <%# 都道府県の名前を表示できる様に %>
          <%= meat.meat_name %>
             <%= meat.total_weight %><%="g"%>
              <%= meat.cost_price %><%="円"%>
        <%# ここに登録した肉の情報のidを一つづつ入れる %>
      </span>
    </div>
  <% end %>
</div>