 <div class="contents">
  <div class= meat_content>
      <span class="name">
        <%= @meat.meat_brand %>
         <%= @meat.prefecture_id %>   <%# 都道府県の名前を表示できる様に %>
          <%= @meat.meat_name %>
             <%= @meat.total_weight %><%="g"%>
              <%= @meat.cost_price %><%="円"%>
              </span>
              </div>
              </div>
<div class="contents row">
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_meat_path(@meat.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', meat_path(@meat.id), method: :delete %>
        </li> 
      </ul>
    </div>

  </div>
</div>