<!DOCTYPE html>
<html>
  <head>
    <title>Nikudomari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

     
  </head>

  <body>

   <header class="header">
      <div class="header__bar row">
      <div class="grid-6"> <a href="/"> <img src="/assets/nikudomari_rogo.PNG"style="width: 25vw; height: 25vh;" id="root_button" ></a></div>
          <%# <% if user_signed_in? %>
           <div class="user_nav grid-6">
                 <%# <span><%= "current_user.nickname" %>  
             <ul class="user__info"> 
              <li>
               <%= link_to "#" do %>
                <%= image_tag("/assets/tenpo_mypage_button.PNG", alt: "マイページ") %>
                <% end %>
                <%= link_to "#" do %>
                <%= image_tag("/assets/logout_button.PNG", alt: "ログアウト") %>
                <% end %>
               </li> 
            </ul>
          <%# </span> %>
          </div>
        <%# <% else %> 
          <%# <div class="grid-6"> %>
            <%# <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%# <%= link_to "新規登録", new_user_registration_path, class: "post" %>  
          <%# </div> %>
        <%# <% end %> 
      </div>
    </header>
    
    <%= yield %>
  </body>
</html>
