<!DOCTYPE html>
<html>
  <head>
    <title>Nikudomari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="../../javascript/channels/index.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

     
  </head>

  <body>

   <header class="header">
      <div class="header__bar row">

        <div class="grid-6"> <a href="/"> <img src="/assets/nikudomari_rogo.PNG"style="width: 25vw; height: 25vh;" id="root_button" ></a></div>
          <% if user_signed_in? %>
           <div class="user_nav_grid-6">
                  <span><b class="store-name"><%= current_user.store_name %> </b> 
             <ul class="user__info"> 
              <li><%= link_to "#" do %>
                <%= image_tag("/assets/tenpo_mypage_button.PNG",class: "post", alt: "マイページ") %>  
                <% end %> </li>
               <li> <%= link_to destroy_user_session_path, method: :delete do %>
                <%= image_tag("/assets/logout_button.PNG", class: "logout", alt: "ログアウト") %>
                <% end %></li> 
            </ul>
           </span> 
          </div>
         <% else %> 
           <div class="grid-6"> 
            <ul class="user__info"> 
              <li><%= link_to new_user_session_path do %>
                <%= image_tag("/assets/login_button.PNG",class: "post", alt: "ログイン") %>
                <% end %> </li>
               <li> <%= link_to new_user_registration_path do %>
                <%= image_tag("/assets/tenpo_new_button.PNG",class: "post", alt: "新規登録") %>
                <% end %></li> 
            </ul>
           </div> 
         <% end %> 
      </div>
    </header>
    
    <%= yield %>
  </body>
</html>
